{% extends "base.html" %}
{% block title %} главная {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='css/input_style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/text_area_style.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/image.css')}}">
<style>
</style>
{% endblock %}
{% block content %}
<form>
    <img src="{{url_for('static', filename='style/images/background.png')}}" alt="">
    <textarea type="textarea" name="description" placeholder="Не указано" rows="8" maxlength="256">
    Проект доброволец.рф создан с целью организации добровольческих движений. Поддерживает функции создания, редактирования, удаления волонтерских организаций. Каждый активный участник проекта будет получать специальные бонусы, за которые он сможет приобрести знаки отличия.
    </textarea>
</form>
{% endblock %}